.progressBar-container{
    width: 100%;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 1rem;

    .progressBar{
        width: 10%;
        height: 3vh;
        border-radius: 1rem;
        background-color: white;
        text-align: center;
        color: black;
    }
}