.progressBar-container{
    width: 100%;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 1rem;
    overflow: hidden;

    .progressBar{
        width: 10%;
        height: 3vh;
        border-radius: 1rem;
        background-color: white;
        text-align: center;
        color: black;
        overflow: hidden;
    }
}

@media screen and (max-width: 800px) {
    .progressBar-container{
    
        .progressBar{
            font-size: 1.4rem;
        }
    }
}