@import '../../_variables';

.contactme-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .contactme-card-container {
        height: 80vh;
        width: 80vw;
        background-color: $mainBoxBackground;
        box-shadow: $mainBoxShadow;
        border-left: $mainBorder;
        border-top: $mainBorder;
        backdrop-filter: blur(5px);
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        div {
            display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
        
            .shyning {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 85%;
                height: 1rem;
                margin-top: 5%;
                
                span:first-child {
                    width: 100%;
                    height: .2rem;
                    border-radius: 10%;
                    background-color: rgb(0, 255, 255); 
                }
                
                span:last-child {
                    width: 40%;
                    height: .2rem;
                    border-radius: 10%;
                    background-color: rgb(0, 255, 255);
                    position: absolute;
                    z-index: -1;
                    box-shadow: 0 0 .5rem .1rem rgb(0, 255, 0);
                    animation: shyning 2s ease infinite;
                }

                @keyframes shyning {
                    0% { width: 40%; }
                    25% { width: 45%; box-shadow: 0 0 .5rem .1rem rgb(0, 255, 255);}
                    50% { width: 45%; box-shadow: 0 0 .5rem .1rem rgb(0, 255, 255);}
                    75% { width: 45%; box-shadow: 0 0 .5rem .1rem rgb(0, 255, 255);}
                    100% { width: 40%; }
                }
            }
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            height: 60%;
            gap: 10%;

            input, textarea {
                font-family: 'Merriweather', serif;

                width: 80%;
                padding: 1rem;
                background: transparent;
                color: white;
                outline: none;
                border: none;
                border-bottom: $mainBorder;
                // border-right: $mainBorder;
                // border-top: 1px solid rgba(0, 0, 0, .5);
                // border-left: 1px solid rgba(0, 0, 0, .5);
                transition: .8s ease ;
            }

            input {
                height: 10%;
                padding-left: 1.5rem;
            }

            textarea {
                height: 40%;
                resize: none;
                padding-left: 1.5rem;

            }

            #submit {
                font-family: 'Merriweather', serif;
                background: transparent;
                color: white;
                height: 10%;
                width: 10%;
                // border-radius: 1rem;
                transition: 1s;
                border: $mainBorder;
                border-radius: .5rem;
                z-index: 100;
                cursor: pointer;

                ion-icon{
                    color:rgb(0, 255, 0);
                }
            }

            #submit:active {
                color: black;
            }

            #submit.disabledButton:active {
                color: white;
            }

            #submit.disabledButton{
                cursor: not-allowed;
            }

            input:focus, textarea:focus {
                outline: none;
                background: rgba(255, 255, 255, .05);
                border-radius: 1rem;
                // backdrop-filter: blur(5px);
            }

            input::placeholder, textarea::placeholder {
                color: white;
                // padding: 1rem;
            }

            input::-ms-input-placeholder, textarea::-ms-input-placeholder {
                color: white;
                // padding: 1rem;
            }
        }
    }
}

@media screen and (max-width: 540px) {
    .contactme-container {
        .contactme-card-container {
            form {
                #submit {
                    height: 10%;
                    width: 20%;
                }
            }
        }
    }
}