.resume-content-container {
    height: 60vh;
    width: 60vw;
    margin-top: 6.5vh;
    overflow: hidden; 
    scroll-behavior: smooth;
    scroll-snap-type: block mandatory;
    scrollbar-width: none;
    &::-webkit-scrollbar{
        display: none;
    }

    .headers{
        height: 10vh;
        width: 60vw;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
          font-size: 3.5rem;
        }
    }

    .resume-content {
        height: 60vh;
        width: 60vw;
        overflow: hidden; 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3rem;
    }
}

@media only screen and (max-width: 720px) {
  .resume-content-container {
    height: 60vh;
    width: 60vw;
    margin-top: 6.5vh;

    .headers{
        height: 7vh;
        width: 60vw;

        h1 {
          font-size: 2.5rem;
        }
    }

    .resume-content {
        height: 60vh;
        width: 60vw;  
        // gap: 2rem;      
    }
}
}