.skills-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 25% 25% 25%;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
    row-gap: 2rem;
    // align-items: space-evenly;
    // margin-top: -5rem;

    .skill-container {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        h3{
            margin-bottom: 1rem;
        }
    }

}

@media screen and (max-width: 800px) {
    .skills-container{
    
        h3{
            margin-bottom: .75rem;
            font-size: 1.5rem;
        }
    }
}